@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    0deg,
    #131313 23.8%,
    #0e0e0e 92%
  );
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.music-container {
  background-color: rgb(73, 73, 73);
  border-radius: 15px;
  /* box-shadow: 0 20px 20px 0 #a9c3fc4d; */
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.visualizer-container {
  position: absolute;

  bottom: 92px;
  /* top: 100px; */
  right: 0;
  left: 0;

  text-align: center;
}

.visualizer-container__bar {

  display: inline-block;
  background: #a7cbf0;
  margin: 0 1px;
  width: 6px;

}
.img-container {
  position: relative;
  width: 110px;
}

.img-container img {
  border-radius: 10%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: rgb(73, 73, 73);
  border: 0;
  color: #a7cbf0;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #a7cbf0;
  font-size: 30px;
}

.action-btn:focus {
  /* color: #a7cbf0; */
  outline: 0;
}

.music-info {
  /* background-color: #ffffff80; */
  /* border-radius: 0 0 15px 15px; */
  color: #a7cbf0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 5px 15px 20px 15px;
  transform: translateY(115%);
  z-index: 0;
}

.progress-container {
  background: #a7cbf0;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #2f89e4;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
